:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --bcg-color: #ffffff;
  --logo-black: #000000;
  --hero-bcg: #c4c4c4;
  --secondary-white: #f5f4fa;
  --lower-contacts: rgba(255, 255, 255, 0.6);
  --lower-bgc: #2f303a;
  --icons-color: #afb1b8;
  --modal-bcg: rgba(0, 0, 0, 0.2);
  --overlay-bcg: rgba(33, 150, 243, 0.9);
}
